html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*---------------------------------------------------------*/

:root {
    box-sizing: border-box;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;

}

body {
    min-width: 320px;
    display: flex;
    justify-content: center;

}

.background-img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


.card-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 13px 10px 39px -10px rgba(166, 166, 166, 0.75);
}

.banner {
    width: 100%;
    height: 150px;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 10px 10px 30px rgba(255, 255, 255, 0.3);

    backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, 0.2);
}



.logo-img {
    width: clamp(66px, 18%, 80px);

}

.banner-text {
    color: #ffffff;
    font-size: 1.5rem;
}

.form-container {
    display: flex;
    justify-content: center;
    height: 100%;
    /*border: 1px solid red;*/
    padding: 25px;
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid black;*/
    max-width:520px;

}

.description {
    width: 90%;
    font-weight:  500;
    font-size: 1.5rem;
    color: #282828;
    /*border: 1px solid black;*/
    margin-bottom: 30px;

}

.description .bold-text {
    font-weight: 600;

}


label {
    color: #2f2f2f;
    align-self: flex-start;

}

input {
    width: 100%;
    height: 30px;
    appearance: none;
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 0 7px;
    box-shadow: inset 2px 2px 2px rgba(215, 215, 215, 0.3);
    font-family: inherit;
}

/* Very basic form validation, need to write javascript form validation*/

/*input:invalid {*/
/*    border: 1px solid #d75151;*/
/*}*/

/*input:valid {*/
/*    border: 1px solid #289f4a;*/
/*}*/

.inputs-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /*border: 1px solid black;*/
    width: 100%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 90%;
    /*border: 1px solid red;*/
    margin-bottom: 20px;
    font-weight: 600;

}

.submit {
    width: clamp(70px,70%, 300px);
    height: 40px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.1rem;
    background: hsla(186, 33%, 94%, 1);
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    margin-top: 10px;
    margin-bottom:30px;
    font-family: inherit;
    font-weight: 600;
}

.submit:hover {
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 100%, hsl(216, 51%, 76%) 0%);
}



.has-account > span {
    font-weight: 600;
    text-decoration: underline;
    color: #0a426c;
}

.has-account > span:hover {
    color: #bdbdbd;
}


@media screen and (min-width: 650px){
    .card-container {
        max-width: 1500px;
        align-items: center;
    }

    .card {
        flex-direction: row;
    }

    .form-container {
        flex: 5 4 auto;
        max-width: 550px;
    }

    .form {
        max-width: none;
    }

    .banner {
        flex: 1 5 auto;
        height: auto;
        justify-content: center;
    }

    .logo-img {
        width: clamp(40px, 50%, 120px);
        margin-bottom: 40px;
    }

    .banner-text {
        font-size: 2rem;
        text-align: center;
    }


    
}

















