html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*---------------------------------------------------------*/

:root {
    box-sizing: border-box;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;

}

body {
    min-width: 370px;
}


.card-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.card {
    background-color: #ffffff;
    width: 90%;
    height: fit-content;
    margin-top: 5%;
    /*border: 1px solid #d7d7d7;*/
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 13px 10px 39px -10px rgba(166, 166, 166, 0.75);
}

.banner {
    width: 100%;
    height: 150px;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 10px 10px 30px rgba(210, 210, 210, 0.3);


    background: hsla(186, 33%, 94%, 1);
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
}



.logo-img {
    width: clamp(66px, 18%, 80px);
    height: auto;
}

.banner-text {
    color: white;
    font-size: 1.5rem;
}

.form-container {
    display: flex;
    justify-content: center;
    height: 100%;
    /*border: 1px solid red;*/
    padding: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid black;*/
}

.description {
    width: 90%;
    font-weight:  500;
    font-size: 1.5rem;
    color: #282828;
    /*border: 1px solid black;*/
    margin-bottom: 30px;

}

.description .bold-text {
    font-weight: 600;

}


label {
    color: #3d3d3d;
    align-self: flex-start;

}

input {
    width: 100%;
    height: 30px;
}

.inputs-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /*border: 1px solid black;*/
    width: 100%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 90%;
    /*border: 1px solid red;*/
    margin-bottom: 20px;

}

.submit {
    width: clamp(70px,70%, 300px);
    height: 40px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    background: hsla(186, 33%, 94%, 1);
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    margin-top: 10px;
    margin-bottom:30px;
}

.has-account > span {
    font-weight: 600;
    text-decoration: underline;
    color: #0a426c;
}






















